
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem
}

.form-control {
  width: 100%;
  border: 1px solid #ced4da;
  display: block;
}

.form-control-file {
  width: 100%;
  display: block
}

.table {
  width:100%;
  margin-bottom: 1rem;
  color: #212529;
}

table {
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
